.tab-list {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.tab {
    font-weight: bold;
    font-family: Arial, sans-serif;
    outline: none;
    border: none;
    background-color: inherit;
}

.active {
    text-decoration: underline;
}

.main-content {

}

#logo {

}